<section data-ng-controller="ProductsController">
    <div class="page-header">
        <h1>New Product</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>


<!--                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>-->

                <div class="form-group">
                    <label for="productImageUrl" class="control-label">Image Url</label>
                    <div class="controls">
                        <input type="text" class="form-control"
                               id="productImageUrl" name="productImageUrl"
                               required
                               placeholder="Product Image Url" ng-model="imageUrl">
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="control-label">Name</label>
                    <div class="controls">
                        <input type="text" class="form-control"
                               id="name" name="name"
                               required
                               placeholder="Product Name" ng-model="name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="productAuthor" class="control-label">Author</label>
                    <div class="controls">
                        <input type="text" class="form-control"
                               id="productAuthor" name="productAuthor"
                               required
                               placeholder="Product Author" ng-model="author">
                    </div>
                </div>

                <div class="form-group">
                    <label for="productDescription" class="control-label">Description</label>
                    <div class="controls">
                        <input type="text" class="form-control"
                               id="productDescription" name="productDescription"
                               required
                               placeholder="Product Description" ng-model="description">
                    </div>
                </div>

                <div class="form-group">
                    <label for="productPrice" class="control-label">Price</label>
                    <div class="controls">
                        <input type="text" class="form-control"
                               id="productPrice" name="productPrice"
                               placeholder="Product Price" ng-model="price">
                    </div>
                </div>

                <div class="form-group">
                    <label for="datePicker" class="control-label" ng-controller="DatePickerController">Date</label>
                    <div class="controls">
                        <p class="input-group">
                            <input type="text" class="form-control" id="datePicker"
                                   uib-datepicker-popup="{{format}}"
                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                   close-text="Close" alt-input-formats="altInputFormats"
                                   ng-model="vm.product.date"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>